## Test Plan

### Objectives

- Test whether the site works as intended. Do each of the different functions work? for example: Buttons for `Submit`, `Hint`, `New Puzzle`,
and `reset`; Does the `Leaderboard` keep score as advertised
- Test whether the site work across different devices, i.e `Responsiveness`
- Test whether the jumbled word repeats itself, and after how long.

### Scope

**In Scope:**
- Button Functionality.
- Accessibility over different devices. 


**Out of Scope:**
- Test the bonus count against points awarded.
- Test the Hin button for point deduction.

### Tools & Resources

- Use SonarQube to identify code defects.
- Use JestDom to test individual functions. 

### Schedule

| Phase | Planned Duration | Actual Duration | Status |
|-------|------------------|-----------------|--------|
| Phase One: Identify Resources and allocate duties.|Sunday 26th OCT,2025, between 2000 - 2100 |Sunday 26th OCT,2025, between 2100 - 2200|Completed |
| Phase Two: Review Test plan and risk analysis|Monday 27th OCT,2025, between 1300 - 1400 || |
| Phase Three: Design Test suites and execution|Monday 27th OCT,2025, between 2000 - 2100 || |
| Phase Four: Post-Mortem and Test Exit criteria met|Tuesday 28th OCT,2025, between 1300 - 1400 || |

## Risk Analysis

### Risks

| ID | Feature | Risk Description | Likelihood | Impact | Priority | Mitigation Strategy |
|----|---------|------------------|------------|--------|----------|---------------------|
| | | | | | | |
| | | | | | | |
| | | | | | | |
| | | | | | | |

### Risk Coverage

- Tested Risks Percent: 
- Untested Risks Percent: 

## Test Cases

| ID | Feature | Objective | Expected Result | Actual Result | Status | Risk Link |
|----|---------|-----------|----------------|---------------|--------|-----------|
| | | | | | | |
| | | | | | | |
| | | | | | | |

## Defects

| ID | Issue Title | Severity | Risk ID | Status | GitHub Link |
|----|-------------|----------|---------|--------|-------------|
| | | | | | |
| | | | | | |
| | | | | | |
| | | | | | |

## Metrics

- Test Case Pass Percent: 
- Defect Density: 
- Risk Coverage Percent: 
- Regression Success Rate: 

### Defect Summary

- Total Defects Logged: 
- Critical High: 
- Fix Rate: 

## Test Control & Project Management

### Phases

| Phase | Deliverable | Actual Output | Variance | Owner |
|-------|-------------|---------------|----------|-------|
|Phase One:|Identify Resources and allocate duties.|All duties allocated and testing team is aligned | Time to meet had to be moved. |Ian Macharia |
|Phase Two:|Review Test plan and risk analysis |Testers were not available at allocated time. |Time to meet had to be moved. |Ian Macharia & Mark Mwangi |
|Phase Three:|Design Test suites and execution | | | |
|Phase Four:|Post-Mortem and Test Exit criteria met | | | |

**Progress Tracking Method:**  
**Change Control Notes:**

## Lessons Learned

- Most Defect Prone Feature: 
- Risk Analysis Impact: 
- Team Communication Effectiveness: 
- Improvements for Next Cycle: 

## Attachments

- |findings from Sonarqube |![sonarqube](Tests/images/sonarqube.png)|

## Sign Off

| Name | Role | Initials | Date |
|------|------|-----------|------|
|Ian Macharia | Test Manager | | |
|Mark Mwangi | Risk Analyst | | |
|Shanice Chepkwony | Test Executor | | |

## Overall Summary

**Statement:** 

**Test Status:** ☐ Completed / ☐ In Progress / ☐ Deferred











